<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h1>
        <sapn class="bg-secondary rounded">住所登録</sapn>
      </h1>
      <%= form_with model:@shipping, url:shippings_path, local:true do |f| %>
        <div class="item mt-4"><%= f.text_field :recipient_name, placeholder: "受取人氏名" %></div>
        <div class="item mt-4"><%= f.text_field :postal_code, placeholder: "郵便番号ハイフンなし" %></div>
        <div class="item mt-4 ml-5 pl-5 mr-3"><%= f.text_field :address, size:"30", placeholder: "住所" %></div>
        <div class="item mt-4"><%= f.submit '住所を追加する', class:'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>
</div>