<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class=" text-center mt-5">
        <h1>注文履歴</h1>
      </div>
      <div id="order2">
        <table>
          <tr>
            <th width="200px" class="pt-4">配送先</th>
            <td width="300px" class="pt-4"><%= @order.address %></td>
          </tr>
          <tr>
            <th class="pt-4">請求金額</th>
            <td class="pt-4">¥<%= @order.amount %></td>
          </tr>
          <% @order_details.each do |order| %>
            <tr>
              <th class="pt-4">商品金額</th>
              <td class="pt-4">
                <%= order.order_quantity %>個
                <%= order.item.sales_status_make %>
              </td>
            </tr>
            <tr>
              <th valign="top" class="pt-4">商品名</th>
              <td class="pt-4">
                <%= order.item.item_name %>
                <div><%= attachment_image_tag order.item, :image, :fill, 200, 200 %></div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>