<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5">
      <div class="item ml-5 pl-2 mt-5">
        <h3>注文履歴</h3>
      </div>
      <table border="1" class="mx-auto">
        <tr>
          <th width="130px">配送先</th>
          <td width="300px"><%= @order.address %></td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td>¥<%= @order.amount %></td>
        </tr>
        <% @order_details.each do |order| %>
          <tr>
            <th>商品金額</th>
            <td>
              <%= order.order_quantity %>個
              <%= order.item.sales_status_make %>
            </td>
          </tr>
          <tr>
            <th valign="top">商品名</th>
            <td>
              <%= order.item.item_name %>
              <div><%= attachment_image_tag order.item, :image, :fill, 200, 200 %></div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>