<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="text-center mt-4">My ACCOUNT</h1>
    </div>
    <div class="col-md-3">
      <div class="mt-4 text-right">
        <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class:"btn btn-secondary" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center mt-4">注文履歴</h4>
        <div id="acount">
          <% if @orders.present? %>
            <h5 class="text-center mt-4">
              <% @orders.each do |order| %>
                <div class="pb-3">
                  <%= link_to item_customers_path(order_id: order.id), :style=>"color:black;" do %>
                    <%= l order.created_at %>
                  <% end %>
                </div>
              <% end %>
            </h5>
          <% else %>
            <p class="text-center mt-4">注文履歴はございません</p>
          <% end %>
        </div>
    </div>
    <div class="col-md-6">
      <h4 class="text-center mt-4">アカウント詳細</h4>
        <div id="shipping">
          <% @shippings.each do |ship| %>
            <table class="text-left mt-4">
              <tr>
                <th width="100px">宛先</th>
                <td width="300px"><%= ship.recipient_name %></td>
                <td rowspan="3" ><%= link_to '削除', shipping_path(ship.id), method: :delete, :style=>"writing-mode: vertical-rl;", class: "btn btn-danger" %></td>
              </tr>
              <tr>
                <th>郵便〒</th>
                <td><%= ship.postal_code %></td>
              </tr>
              <tr>
                <th>住所</th>
                <td><%= ship.address %></td>
              </tr>
            </table>
          <% end %>
        </div>
      <div class="text-center mt-4">
        <%= link_to '住所追加', new_shipping_path, class:'btn btn-primary w-25' %>
      </div>
    </div>
  </div>
</div>

