<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
　　　<div id="box7" class="bg-light mx-auto">
　　　  <div id="box6" class=" text-left pt-2 pl-5 mb-4">
          <h2>店舗情報登録</h2>
        </div>
        <%= form_with model:@shop, url:admins_shops_path, local:true do |f| %>
          <table border="1">
            <tr>
              <th id="text1" class="pt-2 pl-2"><%= f.label :店舗名 %></th>
              <td id="text2" class="pl-2"><%= f.text_field :name %></td>
            </tr>
            <tr>
              <th class="pt-2 pl-2"><%= f.label :郵便番号 %></th>
              <td class="pl-2"><%= f.text_field :postal, size: 40 %></td>
            </tr>
            <tr>
              <th class="pt-2 pl-2"><%= f.label :住所 %></th>
              <td class="pl-2"><%= f.text_field :address, size: 25, placeholder: '東京都新宿区新宿◯-◯-◯', size: 40 %></td>
            </tr>
            <tr>
              <th class="pt-2 pl-2"><%= f.label :電話番号 %></th>
              <td class="pl-2"><%= f.telephone_field :tell, size: 25, placeholder: 'ハイフンなし'  %></td>
            </tr>
            <tr>
              <th class="pt-2 pl-2"><%= f.label :営業時間 %></th>
              <td class="pt-2 pl-2"><%= f.time_select :begin_at %>~<%= f.time_select :closed_at %></td>
            </tr>
          </table>
          <div class="box text-center mt-4">
            <span class="item pr-4"><%= link_to 'Topへ', admins_root_path, class: 'btn btn-primary' %></span>
            <span class="item"><%= f.submit '登録', class: 'btn btn-success' %></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>


<!--　　<div>-->
<!-- 　　　<% if @shop.errors.any? %>-->
<!--　　　<%= @shop.errors.count %>件未入力項目があります-->
<!-- 　　　<% end %>-->
<!--　　</div>-->



