<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table border="1" class="mx-auto">
        <tr>
          <th width="300px" class="pl-2">店舗名</th>
          <td width="500px"><%= @shop.name %></td>
        </tr>

        <tr>
          <th class="pl-2">郵便番号</th>
          <td><%= @shop.postal %></td>
        </tr>
        <tr>
          <th valign="top" class="pl-2">住所</th>
          <td>
            <%= @shop.address %>
            <div id="map"></div>
          </td>
        </tr>

        <tr>
          <th class="pl-2">電話番号</th>
          <td><%= @shop.tell %></td>
        </tr>

        <tr>
          <th class="pl-2">営業時間</th>
          <td><%= @shop.begin_at.strftime("%H:%M") %>~<%= @shop.closed_at.strftime("%H:%M") %></td>
        </tr>
      </table>
    </div>
  </div>
</div>























<!--shopとなっている部分の記述は自身の実装に合わせて変えてください。-->

<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @shop.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

// Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<!--以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください-->

<!--表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。-->
<style type="text/css">
  #map { height: 200px;
         /*width: 300%;}*/
</style>



