<h1>注文情報確認</h1>
<table class="table">
  <tr>
    <th colspan="2">商品名</th>
    <th>価格</th>
    <th>個数</th>
    <th>合計</th>
  </tr>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td rowspan="2"><%= attachment_image_tag cart_item.item, :image %></td>
      <td><%= cart_item.item.item_name %></td>
      <td rowspan="2"><%= cart_item.item.sales_status_make %></td>
      <td rowspan="2"><%= cart_item.quantity %></td>
      <td rowspan="2"><%= cart_item.sum_of_price %></td>
    </tr>
    <tr>
      <td><%= cart_item.size %></td>
    </tr>
  <% end %>

</table>