<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div id="order">
        <%= form_with(model:@order, local: true, url:orders_confirm_path, method: :post) do |f| %>
          <table>
            <tr>
              <th width="200px" height="70px"><%= f.label :お支払い方法 %></th>
              <td width="500px">
                <div>
                  <%= f.radio_button :payment,:クレジットカード, checked: "checked" %>
      　　          <%= f.label :payment, 'クレジットカード' %>
      　　          <%= f.radio_button :payment,:銀行振込, checked: "checked"%>
      　　          <%= f.label :payment, '銀行振込' %>
      　　        </div>
              </td>
            </tr>
            <tr>
              <th><%= f.label :お届け先 %></th>
              <td height="50px">
                <span>
                  <%= f.collection_select(:address, current_customer.shippings, :id, :address, :include_blank => "登録先住所から選択") %>
                </span>
                <span class="pl-4">
                  <%= link_to '新しい住所を追加する', new_shipping_path, class: 'btn btn-primary p-0' %>
                </span>
              </td>
            </tr>
          </table>
          <div class="text-center mt-5 mr-5 pr-5">
            <div class="mr-5 pr-5">
              <%= f.submit '注文情報確認' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>


