<%= form_with model:@order, url:orders_confirm_path, local:true do |f| %>

<h3>支払方法</h3>
<%= f.radio_button :payment,:クレジットカード, checked: "checked" %>
<%= f.label :payment, 'クレジットカード' %>
<%= f.radio_button :payment,:銀行振込, checked: "checked" %>
<%= f.label :payment, '銀行振込' %>

<h3>お届け先</h3>
<%= f.radio_button :address_option, 1 %>
<%= f.label :address, '登録先住所から選択' %>
<%= collection_select(:address, :id, current_customer.shippings, :id, :address_was, :include_blank => "選択してください") %>

<%= f.radio_button :address_option, 2 %>
<%= f.label :address, '新規お届け先' %>
<%= f.label :postal_code, '郵便番号'%>
<%= f.text_field :postal_code %>
<%= f.label :address, '住所' %>
<%= f.text_field :address %>
<%= f.label :receiver, '宛名' %>
<%= f.text_field :receiver %>
<%= f.submit '注文情報確認' %>
<% end %>
<%= link_to 'カートに戻る', cart_items_path, class: 'btn btn-success' %>


