<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <div id="box8" class="pt-2 pl-5 text-left">
        <h2>商品詳細</h2>
      </div>
      <div id="box9" class="bg-light">
        <table>
          <tr>
            <td>
              <%= attachment_image_tag @item, :image, :fill, 350, 370, format: 'jpeg' %>
            </td>
            <td>
              <table>
                <tr>
                  <th width="200px" height="90px">商品名</th>
                  <td width="200px"><%= @item.item_name %></td>
                </tr>
                <tr>
                  <th height="80px">ジャンル</th>
                  <td><%= @item.genre %></td>
                </tr>
                <tr>
                  <th height="80px">税抜価格</th>
                  <td><%= @item.price.to_s(:delimited) %>円</td>
                </tr>
                <tr>
                  <th height="80px">販売ステータス</th>
                  <td class="mb-5"><%= @item.sales_status_text %></td>
                </tr>
                <tr>
                  <th height="80px">
                    <%= link_to '編集', edit_admins_item_path(@item), class: 'btn btn-info' %>
                    <%= link_to '削除', admins_item_path(@item), method: :delete, class: 'btn btn-danger' %>
                  </th>
                  <td>
                    <%= link_to 'Topへ', admins_root_path, class: 'btn btn-primary' %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>