<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">


<div class="carousel slide" id="新着商品画像" data-ride="carousel">
  <ol class="carousel-indicators">
     <!--ここにインディケーターを記述-->
    <li data-target="新着商品画像" data-slide-to="0" class="active"></li>
    <li data-target="新着商品画像" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
     <!--ここに画像部分を記述-->
    <div class="carousel-item active"><%= image_tag 'black.jpg', size: '100x400', class:"d-block w-100" %></div>
    <div class="carousel-item active"><%= image_tag 'baldgray.jpg', size: '100x400', class:"d-block w-100" %></div>
    <div class="carousel-item"><img src="https://..." class="d-block w-100"></div>
    <div class="carousel-item"><img src="https://..." class="d-block w-100"></div>

  </div>
   <!--画像遷移のボタンを記述-->
</div>

<h1 class="name pb-3">ALL</h1>

      <div style="display: flex; flex-wrap: wrap;">

        <% @items.each do |item| %>
         <%= link_to item_path(item.id), :style=>"color:black;" do %>
         <%= attachment_image_tag item, :image, :fill, 270, 180 %></br>
         <%= item.item_name %></br>
         <%= item.sales_status_make %>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



