<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4 pt-5 mt-3">
        <div class="item pb-4 mt-4"><%= link_to '商品新規登録', new_admins_item_path, class:"btn btn-success mx-auto d-block" %></div>
        <div class="item pb-4"><%= link_to '店舗情報登録', new_admins_shop_path, class:"btn btn-success d-block" %></div>
        <div class="item pb-4"><%= link_to 'JACKETS 一覧', admins_items_path(genre: 'JACKETS'), class:"btn btn-primary mx-auto d-block" %></div>
        <div class="item pb-4"><%= link_to 'TOPS 一覧', admins_items_path(genre: 'TOPS'), class:"btn btn-primary mx-auto d-block" %></div>
        <div class="item pb-4"><%= link_to 'TEES 一覧', admins_items_path(genre: 'TEES'), class:"btn btn-primary mx-auto d-block" %></div>
        <div class="item pb-4"><%= link_to 'PANTS 一覧', admins_items_path(genre: 'PANTS'), class:"btn btn-primary mx-auto d-block" %></div>
      </div>
    <div class="col-md-4 pt-4 mt-3">
       <div class="pb-5 mt-5"></div>
       <div class="pb-2"></div>
       <div class="pb-5"></div>
       <div class="pb-5"></div>
       <div class="pb-5"></div>
       <div class="pb-5"></div>
       <div class="pb-3"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"btn btn-secondary", :style=>"color:red;"%></div>
    </div>
  </div>
</div>


