<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center mt-5">
      <div id="box3" class="bg-light mx-auto">
        <div id="box2" class="text-left pt-2 pl-4">
          <h3>ログイン</h3>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        　<font color="red">
          　<% if @customer.errors.any? %>
            　<%= @customer.errors.count %>件のエラーが発生しました
            　<% @customer.errors.full_messages.each do |message| %>
            　<%= message %>
            　<% end %>
          　<% end %>
          </font>
          <div class="field text-left pl-4">
            <strong><%= f.label :メールアドレス %></strong>
            <div><%= f.email_field :email, autofocus: true, autocomplete: "email", size: '70' %></div>
          </div>
          <div class="field text-left pl-4 mt-3">
            <strong><%= f.label :パスワード %></strong>
            <div><%= f.password_field :password, autocomplete: "current-password", size: '70' %></div>
          </div>
          <div class="actions text-left pl-4 mt-3">
            <%= f.submit "ログイン" %>
          </div>
        <% end %>
        <div class="text-left pl-4 mt-3">
          <%= render "customers/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>