<!DOCTYPE html>
<html>
  <head>
    <title>Apparel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <% unless params[:controller].include?("admin")  %>
      <header>
          <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
              <%= link_to 'JACKETS', items_path(genre: 'JACKETS') %>
              <%= link_to 'TOPS', items_path(genre: 'TOPS') %>
              <%= link_to 'TEES', items_path(genre: 'TEES') %>
              <%= link_to 'PANTS', items_path(genre: 'PANTS') %>
              </div>
            </div>
            <nav class="navbar navbar-dark p-4">
              <div class="col-3">
                <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="col-6 text-center">
                <%= image_tag 'baldgray.jpg', size: '100x80'%>
                <!--<p class="logo">ロゴ</p>-->
              </div>
              <div class="col-3 text-right pr-3">
                <%= link_to new_customer_session_path, :style=>"color:black;" do %><i class="fas fa-user fa-lg"></i><% end %>
                <%= link_to cart_items_path, :style=>"color:black;" do %><i class="fas fa-suitcase fa-lg pl-3"></i><% end %>
              </div>

            </nav>
          </div>
      </header>
    <% end %>

    <main>
      <div class="main">
        <%= yield %>
      </div>
    </main>

    <% unless params[:controller].include?("admin") %>
    <footer class="fixed-bottom">
      <div class="card-footer text-muted">
         <%= link_to 'CONTACT', new_contact_path %>
      </div>
    </footer>
    <% end %>

  </body>
</html>
