<!DOCTYPE html>
<html>
  <head>
    <title>Apparel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless admin_signed_in? %>
    <header>admin_signed_in</header>
    <% end %>
    <%= yield %>

  </body>
</html>
